html, body {
  background-color: #282c34;
  font-size: 16px;
  color: white;
}

.App {
  width: 100%;
  max-width: 64rem;
  margin: 0 auto;
}

a {
  color: #61dafb;
}

div {
  padding: .5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  padding: .5rem;
}

h1, h2, h3, h4, h5 {
  margin: 1rem 0;
}

.text-center {
  text-align: center;
}
